@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;400&display=swap');



body {
    padding:40px;
    background-color:rgb(224,218,202);
    text-align: center;
    border:solid;
    border-width: 10px;
    border-color:rgb(172,159,143);
    border-radius: 5px;
    width: 1300;
}

h1 {
    font-family: Cinzel;
    color:rgb(36,33,33);
    font-size: 40px;
    border-bottom: solid 3px;
    border-top: solid 3px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-color:rgb(172,159,143);
}

h2 {
    font-family: Cinzel;
    color:rgb(112,121,139);
    border: dashed;
    width: 200px;
    margin-left: 50px;
    margin: auto;
}


h3 {
    font-family: 'Anuphan';
    font-weight: 200;
    color:rgb(109, 99, 86);
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }